<h3 class="passport-title">{{ 'Nav.Register' | translate }}</h3>
<form class="passport-form" nz-form [formGroup]="form" (ngSubmit)="handleSubmit()" role="form">
  <nz-form-item>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzPrefixIcon="anticon anticon-user" nzSize="large">
        <input type="text" nz-input zn-required zn-focus zn-ban-space placeholder="{{ 'Tip.input' | translate:{value: 'Form.nickname'|translate} }}" formControlName="nickname">
      </nz-input-group>

      <nz-form-explain *ngIf="$any(nickname).focused" class="zn-color-default">
          <em class="zn-color-danger">*</em>中英文均可，最长14个英文或7个汉字
      </nz-form-explain>

      <nz-form-explain *ngIf="nickname.dirty && nickname.errors && !$any(nickname).focused">
        <ng-container *ngIf="nickname.hasError('required')">
          {{ 'Tip.input' | translate:{value: 'Form.nickname'|translate} }}
        </ng-container>
        <ng-container *ngIf="nickname.hasError('pattern')">
          用户名仅支持中英文、数字和下划线,且不能为纯数字！
        </ng-container>
        <ng-container *ngIf="nickname.hasError('length')">
          用户名长度为4-14个字节！
        </ng-container>
        <ng-container *ngIf="nickname.hasError('illegal')">
          用户名含有敏感词汇！
        </ng-container>
        <ng-container *ngIf="nickname.hasError('existed')">
          用户名已存在！
        </ng-container>
      </nz-form-explain>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row [nzGutter]="8">
      <nz-form-control [nzSpan]="8">

        <nz-select formControlName="mobilePrefix" nzSize="large" nzPlaceHolder="{{ 'Form.area' | translate }}" [style.font-size]="'15px'" [nzDropdownStyle]="{fontSize: '13px'}" [nzDropdownMatchSelectWidth]="false">
          <nz-option-group *ngFor="let v0 of prefix$ | async" [nzLabel]="v0.label">
            <nz-option *ngFor="let v1 of v0.value" [nzCustomContent]="true" [nzLabel]="'+'+v1.value" [nzValue]="v1.value">{{ v1.label }}<span [style.float]="'right'">+{{ v1.value }}</span></nz-option>
          </nz-option-group>
        </nz-select>

        <ng-container *ngIf="mobilePrefix.dirty && mobilePrefix.errors">
          <nz-form-explain *ngIf="mobilePrefix.hasError('required')">
            {{ 'Tip.select' | translate:{value: 'Form.areaCode'|translate} }}
          </nz-form-explain>
        </ng-container>

      </nz-form-control>

      <nz-form-control [nzSpan]="16" nzHasFeedback>
        <nz-input-group nzPrefixIcon="anticon anticon-mobile" nzSize="large">
          <input type="text" nz-input zn-required zn-focus zn-number-only placeholder="{{ 'Tip.input' | translate:{value: 'Form.phone'|translate} }}" formControlName="mobile">
        </nz-input-group>

        <nz-form-explain *ngIf="mobile.dirty && mobile.errors && !$any(mobile).focused">
          <ng-container *ngIf="mobile.hasError('required')">
            {{ 'Tip.input' | translate:{value: 'Form.phone'|translate} }}
          </ng-container>
          <ng-container *ngIf="mobile.hasError('pattern')">
            手机号格式错误！
          </ng-container>
          <ng-container *ngIf="mobile.hasError('existed')">
            手机号已被注册！
          </ng-container>
        </nz-form-explain>

      </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row [nzGutter]="8">
    <nz-form-control nzHasFeedback [nzSpan]="16">
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-mail">
        <input nz-input zn-required zn-focus zn-number-only formControlName="captcha" maxlength="4" placeholder="{{ 'Form.captcha' | translate }}">
      </nz-input-group>

      <nz-form-explain *ngIf="captcha.dirty && captcha.errors">
        <ng-container *ngIf="captcha.hasError('required')">
          {{ 'Tip.input' | translate:{value: 'Form.captcha'|translate} }}
        </ng-container>
        <ng-container *ngIf="captcha.hasError('expired')">
          验证码已过期，请重新获取！
        </ng-container>
        <ng-container *ngIf="captcha.hasError('wrong')">
          验证码错误！
        </ng-container>
      </nz-form-explain>

    </nz-form-control>
    <nz-col [nzSpan]="8">
      <zn-captcha [znBeforeTryFn]="getCaptcha.bind(this)" znInitialTpl="{{ 'Form.get captcha' | translate }}" znLoadingTpl="{{ 'Form.sending' | translate }}" znTryingTpl="{{ 'Form.resend' | translate }}" znRetryTpl="{{ 'Form.retry' | translate }}"></zn-captcha>
    </nz-col>
  </nz-form-item>

  <nz-form-item>
    <nz-popover nz-popover nzTrigger="focus" [nzVisible]="visible" [nzOverlayStyle]="{'width.px': 240}" nzOverlayClassName="register-password-cdk">
    <nz-form-control nzHasFeedback>
      <nz-input-group nzPrefixIcon="anticon anticon-lock" nzSize="large">
        <input type="password" nz-input zn-required zn-focus zn-ban-space (znFocus)="handleCDK()" (znBlur)="handleCDK()" formControlName="password" placeholder="6-12位，区分大小写" autocomplete="off">
      </nz-input-group>

      <ng-template #nzTemplate>
        <ng-container [ngSwitch]="status">
          <div *ngSwitchCase="'ok'" class="zn-color-success">强度：强</div>
          <div *ngSwitchCase="'pass'" class="zn-color-warning">强度：中</div>
          <div *ngSwitchDefault class="zn-color-error">强度：弱</div>
        </ng-container>
        <div class="progress-{{status}}">
          <nz-progress [nzPercent]="progress" [nzStatus]="passwordProgressMap[status]" [nzStrokeWidth]="6" [nzShowInfo]="false"></nz-progress>
        </div>
        <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
      </ng-template>

      <nz-form-explain *ngIf="$any(password).focused" class="zn-color-default">
        <em class="zn-color-danger">*</em>支持字母、数字和特殊符号（至少两种）
      </nz-form-explain>

      <nz-form-explain *ngIf="password.dirty && password.errors && !$any(password).focused">
        <ng-container *ngIf="password.hasError('required')">
          {{ 'Tip.input' | translate:{value: 'Form.password'|translate} }}
        </ng-container>
        <ng-container *ngIf="password.hasError('length')">
          密码长度为6-12位字符！
        </ng-container>
        <ng-container *ngIf="password.hasError('pattern')">
          密码至少包括字符、数字和特殊字符中的两种！
        </ng-container>
      </nz-form-explain>

    </nz-form-control>
    </nz-popover>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzPrefixIcon="anticon anticon-lock" nzSize="large">
        <input type="password" nz-input zn-required zn-focus zn-ban-space (znBlur)="handleConfirmBlur()" formControlName="confirm" placeholder="{{ 'Form.confirm password' | translate }}">
      </nz-input-group>

      <nz-form-explain *ngIf="confirm.dirty && confirm.errors">
        <ng-container *ngIf="confirm.hasError('required')">
          {{ 'Tip.input' | translate:{value: 'Form.confirm password'|translate} }}
        </ng-container>
        <ng-container *ngIf="confirm.hasError('equal')">
          两次输入的密码不一致！
        </ng-container>
      </nz-form-explain>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="zn-mb-md">
    <nz-form-control nz-row>

      <nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="agree">
          <span>我已阅读 <a>用户协议</a></span>
        </label>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-form-explain *ngIf="agree.dirty && !agree.value" class="passport-explain">
            阅读相关协议后勾选！
        </nz-form-explain>
      </nz-col>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-col [nzSpan]="12">
      <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading" class="zn-btn-full">
        <span>{{ 'Form.submit' | translate }}</span>
      </button>
    </nz-col>
    <nz-col [nzSpan]="12">
      <a class="passport-link" [routerLink]="['../login']">{{ 'Register.use existed account login' | translate }}</a>
    </nz-col>
  </nz-form-item>

</form>
